.eventdef-list-panel {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

/*#event-def-list-table td { 
    padding: 5px;
    border-style: solid;
}
#event-def-list-table th { 
    padding: 5px;
    background-color: gray;
    border-style: solid;
}*/

#event-def-detail-view-table td{ 
    padding: 5px;
}

#event-def-detail-edit-table td{ 
    padding: 5px;
}

#topic-detail-edit-table td{ 
    padding: 5px;
}

tr.tableRow:hover { 
    background-color: darkgray;
}

tr.tableRow {
	color:#42474c;
}


textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
}

.groupingDiv {
	background-color: #353434;
	border-radius: 7px;
	padding:10px;
}

