
	<div style="display: table-row">
  		<div id="event-def-list-div" class="groupingDiv" style="width:720px;height: 100%;display: table-cell;vertical-align:top;">
  	  		<div ng-if="ctrl.panel.mode=='event-list'">
            <button type="button" class="btn btn-success" style="margin-bottom: 5px" ng-click="ctrl.initiateNewEventDefinition();ctrl.initializeTopicRouteTable()">New</button>
	  	  		<table class="hover" id="event-def-list-table" >
	  	  			<thead>
	  		  			<tr style="color:#e5ecf3;background-color: black">
	  				        <th>Name</th>
	  				        <th>External Id</th>
	  				        <th>Status</th>
	  				        <th>Stop/Start</th>
	  				        <th>Edit</th>
	  				    </tr>
	  				</thead>
	  				<tbody>
	  				  	<tr class="tableRow" style="{{eventDef.name==ctrl.panel.selectedEventDef.name ? 'color:green':'color:#42474c'}}" ng-click="ctrl.panel.selectedEventDef=eventDef" ng-repeat="eventDef in ctrl.panel.eventDefinitions">
	  				        <td>{{eventDef.name}}</td>
	  				        <td>{{eventDef.externalId}}</td>
	  				        <td>Running</td>
	  				        <td>Stop</td>
	  				        <td >
                      <button type="button" class="btn btn-success" ng-click="ctrl.panel.selectedEventDef=eventDef;ctrl.panel.mode='event-detail';ctrl.initializeTopicRouteTable();">Edit</button>
                    </td>
	  				    </tr>
	  				</tbody>
	  		  	</table>
  		  	</div>
  		  	<table id="event-def-detail-edit-table" ng-if="ctrl.panel.mode=='event-detail'" >
  				<tr>
  			        <td colspan="2"><h3>Edit Event Definition</h3></td>
  			    </tr>
  			  	<tr>
  			        <td>Name:</td><td><span ng-if="!ctrl.panel.isNew">{{ctrl.panel.selectedEventDef.name}}</span><input ng-model="ctrl.panel.selectedEventDef.name" ng-if="ctrl.panel.isNew" type="text" name="fname" value="{{ctrl.panel.selectedEventDef.name}}"/></td>
  			    </tr>
  			    <tr>
  			        <td>External Id:</td><td><input ng-model="ctrl.panel.selectedEventDef.externalId" type="text" name="fname" value="{{ctrl.panel.selectedEventDef.externalId}}"/> </td>
  			    </tr>
  			    <tr>
  			        <td>Description</td><td><textarea ng-model="ctrl.panel.selectedEventDef.description" rows="4" cols="50">{{ctrl.panel.selectedEventDef.description}}</textarea></td>
  			    </tr>
  			    <tr>
  			        <td>Owner</td><td>{{ctrl.panel.selectedEventDef.ownerName}}</td>
  			    </tr>
  			    <tr>
  			        <td>Format:</td><td><textarea rows="2" ng-model="ctrl.panel.selectedEventDef.format" cols="50">{{ctrl.panel.selectedEventDef.format}}</textarea></td>
  			    </tr>
  			    <tr>
  			    	<td colspan="2">
                <button type="button" ng-if="ctrl.panel.isNew" class="btn btn-success" ng-click="ctrl.request4CreateEventDefinition()">Save</button>
  			    		<button type="button" ng-if="!ctrl.panel.isNew" class="btn btn-success" ng-click="ctrl.request4UpdateEventDefinition()">Update</button>
  			    		<button type="button" ng-if="!ctrl.panel.isNew" class="btn btn-danger" ng-click="ctrl.request4DeleteEventDefinition()">Delete</button>
  			    		<button type="button" class="btn btn-inverse" ng-click="ctrl.back2EventList()">Back</button>
  			    	</td>
  			    </tr>	
  			    
  			</table>
  			<table id="topic-detail-edit-table" ng-if="ctrl.panel.mode=='topic-detail'" >
  				<tr>
  			        <td colspan="2"><h3>Edit Topic</h3></td>
  			    </tr>
  			  	<tr>
  			        <td>Name:</td><td><span ng-if="!ctrl.panel.isNewTopic">{{ctrl.panel.selectedTopic.topicName}}</span><input ng-model="ctrl.panel.selectedTopic.topicName" ng-if="ctrl.panel.isNewTopic" type="text" name="fname" value="{{ctrl.panel.selectedTopic.topicName}}"/></td>
  			    </tr>
  			    <tr>
  			        <td>Eval. Script</td><td>
  						      <div id="evalScriptEditor" ng-model="ctrl.panel.selectedTopic.evaluationScript" style="height: 100px;width:400px">{{ctrl.panel.selectedTopic.evaluationScript}}</div>
  			        </td>
  			    </tr>
  			    <tr>
  			    	<td colspan="2">
                <button type="button" ng-if="ctrl.panel.isNewTopic" class="btn btn-success" ng-click="ctrl.request4CreateTopicRoute()">Save</button>
  			    		<button type="button" ng-if="!ctrl.panel.isNewTopic" class="btn btn-success" ng-click="ctrl.request4UpdateTopicRoute()">Update</button>
  			    		<button type="button" ng-if="!ctrl.panel.isNewTopic" class="btn btn-danger" ng-click="ctrl.request4DeleteTopicRoute()">Delete</button>
  			    		<button type="button" class="btn btn-inverse" ng-click="ctrl.back2EventDetail()">Back</button>
  			    	</td>
  			    </tr>	
  			    <table id="transform-detail-edit-table" ng-if="ctrl.panel.mode=='transform-detail'" >
	  				<tr>
	  			        <td colspan="2"><h3>Edit Transform Script</h3></td>
	  			    </tr>
	  			  	<tr>
	  			        <td>Field Path:</td><td><input ng-model="ctrl.panel.selectedTransform.fieldPath" type="text" name="fname" value="{{ctrl.panel.selectedTransform.fieldPath}}"/></td>
	  			    </tr>
	  			    <tr>
	  			        <td>Action:</td>
	  			        <td>
	  			        	<select ng-model="ctrl.panel.selectedTransform.action">
								  <option value="skip">Skip field</option>
								  <option value="modify">Modify field value</option>
							</select>
	  			        </td>
	  			    </tr>
	  			    <tr>
	  			        <td>Javascript</td><td>
	  			        	<!--textarea ng-model="ctrl.panel.selectedTransform.javascript" rows="4" cols="50">{{ctrl.panel.selectedTransform.javascript}}</textarea-->
	  			        </td>
	  			    </tr>
	  			    <tr>
	  			    	<td colspan="2">
                  <button type="button" ng-if="ctrl.panel.isNewTransform" class="btn btn-success" ng-click="ctrl.addTransformScript()">Add</button>
	  			    		<button type="button" ng-if="!ctrl.panel.isNewTopic" class="btn btn-danger" ng-click="ctrl.removeTransformScript(ctrl.panel.selectedTransform)">Delete</button>
                  <button type="button" class="btn btn-inverse" ng-click="ctrl.back2TopicDetail()">Back</button>
	  			    	</td>
	  			    </tr>	   
	  			</table>   
  			</table>
  		</div>
  		<div id="event-def-seperator-div" style="width:5px;display: table-cell;"/>
  		<div id="event-def-detail-edit-div" class="groupingDiv" style="width:620px;height:50%;display: table-cell;vertical-align:top;">
<div class="eventdef-list-panel" style="width: 100%; display: table;">
  			<table id="event-def-detail-view-table" ng-if="ctrl.panel.mode=='event-list' && ctrl.panel.selectedEventDef!=null" >
  				<tr>
  			        <td colspan="2"><h3>Detail</h3></td>
  			    </tr>
  			  	<tr>
  			        <td>Name:</td><td>{{ctrl.panel.selectedEventDef.name}}</td>
  			    </tr>
  			    <tr>
  			        <td>External Id:</td><td>{{ctrl.panel.selectedEventDef.externalId}}</td>
  			    </tr>
  			    <tr>
  			        <td>Description</td><td>{{ctrl.panel.selectedEventDef.description}}</td>
  			    </tr>
  			    <tr>
  			        <td>Owner</td><td>{{ctrl.panel.selectedEventDef.ownerName}}</td>
  			    </tr>
  			    <tr>
  			        <td>Format:</td><td>{{ctrl.panel.selectedEventDef.format}}</td>
  			    </tr> 
  			    <tr valign="top">
  			        <td>Topics:</td>
  			        <td>

  			        	<ul>
  			        		<li ng-repeat="topic in ctrl.panel.selectedEventDef.topicRouteList">
  			        			{{topic.topicName}}
  			        		</li>
  			        	</ul>
  			        </td>
  			    </tr> 
  			</table>
  			<div ng-if="ctrl.panel.mode=='event-detail'" style="width=100%">
  				<h3>Topic Routes</h3>
           <button type="button" class="btn btn-success" style="margin-bottom: 5px" ng-if="!ctrl.panel.isNew" ng-click="ctrl.initiateNewTopicRoute();ctrl.initializeTransformTable()">New</button>
	  	  		<table class="hover" id="topic-list-table"  >
	  	  			<thead>
	  		  			<tr style="color:#e5ecf3;background-color: black">
	  				        <th>Name</th>
	  				        <th>Eval. Script</th>
	  				        <th>Edit</th>
	  				    </tr>
	  				</thead>
	  				<tbody>
	  				  	<tr class="tableRow" style="color:#42474c" ng-repeat="topicRoute in ctrl.panel.selectedEventDef.topicRouteList">
	  				        <td>{{topicRoute.topicName}}</td>
	  				        <td>{{topicRoute.evaluationScript}}</td>
	  				        <td>
                       <button type="button" class="btn btn-success" ng-click="ctrl.panel.mode='topic-detail';ctrl.panel.selectedTopic=topicRoute;ctrl.initializeTransformTable()">Edit</button>
                    </td>
	  				    </tr>
	  				</tbody>
	  		  	</table>
  		  	</div>
  		  	<div ng-if="ctrl.panel.mode=='topic-detail'" style="width=100%">
  		  		<h3>Transformations</h3>
            <button type="button" class="btn btn-success" style="margin-bottom: 5px" ng-click="ctrl.initiateNewTransform()">New</button>
	  	  		<table class="hover" id="transform-list-table"  >
	  	  			<thead>
	  		  			<tr style="color:#e5ecf3;background-color: black">
	  				        <th>Action</th>
	  				        <th>Field Path</th>
	  				        <th>Edit</th>
	  				    </tr>
	  				</thead>
	  				<tbody>
	  				  	<tr class="tableRow" style="color:#42474c" ng-repeat="transform in ctrl.panel.selectedTopic.transformScriptList">
	  				        <td>{{transform.action}}</td>
	  				        <td>{{transform.fieldPath}}</td>
	  				        <td >
                      <button type="button" class="btn btn-success" ng-click="ctrl.panel.mode='transform-detail';ctrl.panel.selectedTransform=transform;">Edit</button>
                    </td>
	  				    </tr>
	  				</tbody>
	  		  	</table>
  		  	</div>
  		</div>
  		<div style="clear":both"/>
  	</div>	
</div>
